Source: ros-kinetic-rosbag-snapshot
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rosbag, ros-kinetic-rosbag-snapshot-msgs, ros-kinetic-roscpp, ros-kinetic-rosgraph-msgs, ros-kinetic-roslint, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-rostopic, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rosbag-snapshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosbag, ros-kinetic-rosbag-snapshot-msgs, ros-kinetic-roscpp, ros-kinetic-rosgraph-msgs, ros-kinetic-std-srvs, ros-kinetic-topic-tools
Description: The rosbag_snapshot package
