Source: ros-melodic-rosbag-snapshot
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-rosbag, ros-melodic-rosbag-snapshot-msgs, ros-melodic-roscpp, ros-melodic-rosgraph-msgs, ros-melodic-roslint, ros-melodic-rospy, ros-melodic-rostest, ros-melodic-rostopic, ros-melodic-std-msgs, ros-melodic-std-srvs, ros-melodic-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rosbag-snapshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rosbag, ros-melodic-rosbag-snapshot-msgs, ros-melodic-roscpp, ros-melodic-rosgraph-msgs, ros-melodic-std-srvs, ros-melodic-topic-tools
Description: The rosbag_snapshot package
